<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>超市账单管理系统</title>
    <script src="/javascripts/jquery-1.11.0.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/time.js" type="text/javascript" charset="utf-8"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>
    <link rel="stylesheet" href="/stylesheets/public.css"/>
</head>
<body>
<!--头部-->
<header class="publicHeader">
    <h1>超市账单管理系统</h1>
    <div class="publicHeaderR">
        <p><span style="color: #fff21b"><%-name%></span> :欢迎你！</p>
        <a href="/login">退出</a>
    </div>
</header>
<!--时间-->
<section class="publicTime">
    <span id="time">2015年1月1日 11:11  星期一</span>
    <a href="#">温馨提示：为了能正常浏览，请使用高版本浏览器！（IE10+）</a>
</section>
<!--主体内容-->
<section class="publicMian">
    <div class="left">
        <h2 class="leftH2"></span>功能列表</span></h2>
        <nav>
            <ul class="list">
                <li ><a href="/billList">账单管理</a></li>
                <li ><a href="/billList">账单管理</a></li>
                <li ><a href="/billList">账单管理</a></li>
                <li><a href="/login">退出系统</a></li>
            </ul>
        </nav>
</div>
<div class="right">
        <img class="wColck" src="images/clock.jpg" alt=""/>
        <div class="wFont">
            <h2><%-name%></h2>
            <p>欢迎来到超市账单管理系统!</p>
			      <span id="hours"></span>
        </div>
        <button class="btn btn-success" onclick="location.href='/login'">登录</button>
	    <button class="btn btn-primary" onclick="location.href='/register'">注册</button>
    </div>
</section>
<footer class="footer">
</footer>
<div style="text-align:center;">
</div>
   <script type="text/javascript">
   </script>
      <script type="text/javascript">
              
      
      
      </script>
</body>
</html>